<calendar calendar-object="calendar" class="calendar">
  <div class="calendar-controls">
    <div class="calendar-previous-button" ng-click="calendar.back()">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </div>
    <div class="calendar-next-button" ng-click="calendar.forward()">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </div>
    <div class="date">
      <span class="month">{{month}}</span> {{year}}
    </div>
  </div>
  <div class="calendar-grid">
    <div class="days">
      <div class="{{day.classes}}" ng-repeat="day in days">
        {{day.day}}
      </div>
    </div>
  </div>
</calendar>